/* Ajustes */
.interna--banner {
    height: auto;
    padding: 100px 0;
}
.header--menu--item{
	margin: 0 19px;
}
body{
    overflow-x: hidden;
}
.logo-home {
    margin: 0 auto;
    display: block;
}

/*Novos*/
.carousel-doencas{
	padding: 0 40px;
	margin-top: 60px;
}
.carousel-doencas .item{
	text-align: center;
	padding: 0 30px;
}
.carousel-doencas--image{
	display: inline-block;
	width: 195px;
	height: 195px;
	border-radius: 50%;
	margin-bottom: 25px;
}
.carousel-doencas--image img{
	display: block;
	width: 100%;
}
.carousel-doencas--title{
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	color: #006ea2;
	margin-bottom: 20px;
}
.carousel-doencas--link{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    line-height: 15px;
    background: #3e9ae1;
    background: -moz-linear-gradient(top, #3e9ae1 0%, #1d5b99 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e9ae1), color-stop(100%, #1d5b99));
    background: -webkit-linear-gradient(top, #3e9ae1 0%, #1d5b99 100%);
    background: -o-linear-gradient(top, #3e9ae1 0%, #1d5b99 100%);
    background: -ms-linear-gradient(top, #3e9ae1 0%, #1d5b99 100%);
    background: linear-gradient(to bottom, #3e9ae1 0%, #1d5b99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9ae1', endColorstr='#1d5b99', GradientType=0 );
}
.carousel-doencas--link i {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 3px;
    transition: all 0.2s linear;
}
.carousel-doencas--link:hover {
    color: #fff;
}
.carousel-doencas--link:hover i {
    margin-left: 13px;
    margin-right: 0;
}


.section--title.center{
	text-align: center;
}

/*blog--*/
.blog{
    background: #f7f8f7;
}
.blog .post .row > div {
    display: block;
    height: 100%;
}

.blog .post {
    display: flex;
}

.blog .post .row {
    display: flex;
    flex-direction: row;
}
.blog .post .row > div .image {
    height: 100%;
    overflow: hidden;
}

.blog .post .row > div .image img {
    display: none;
}
.blog .post .contain {
    padding: 40px 35px;
}

.blog .post .contain .entry-title {
    font-size: 16px;
    color: #707070;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.blog .post .contain .entry-summary p {
    font-size: 13px;
    color: #868686;
    line-height: 23px;
    margin-bottom: 30px;
}

.blog .post .banner-home--button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 25px;
}

.blog .post .date {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: #9d9d9d;
    text-transform: uppercase;
    margin-left: 40px;
}

.blog .post {
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    background: #fff;
}

.blog .post .row > div .image {
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cat-menu--item {
    display: inline-block!important;
    margin: 0 30px;
    margin-bottom: 0!important;
    list-style: none!important;
    padding: 7px 0!important;
}

.cat-menu {
    list-style: none!important;
}

.cat-menu--item:before {
    content: none!important;
}

.cat-menu--item a {
    font-size: 15px;
    color: #7e7e7e;
    text-transform: uppercase;
}

.blog-search {
    display: block;
    width: 100%;
    background: #fff;
    height: 35px;
    border-radius: 35px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.blog-search input {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    border: none;
    height: 100%;
    background: none;
}

.blog-search i {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    text-align: center;
    color: #2876bf;
    font-size: 20px;
}

.call-to-action{
    display: block;
    width: 100%;
    height: 160px;
    padding: 52px 0;
    background: rgba(29,91,153,1);
    background: -moz-linear-gradient(left, rgba(29,91,153,1) 0%, rgba(62,154,225,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,91,153,1)), color-stop(100%, rgba(62,154,225,1)));
    background: -webkit-linear-gradient(left, rgba(29,91,153,1) 0%, rgba(62,154,225,1) 100%);
    background: -o-linear-gradient(left, rgba(29,91,153,1) 0%, rgba(62,154,225,1) 100%);
    background: -ms-linear-gradient(left, rgba(29,91,153,1) 0%, rgba(62,154,225,1) 100%);
    background: linear-gradient(to right, rgba(29,91,153,1) 0%, rgba(62,154,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5b99', endColorstr='#3e9ae1', GradientType=1 );
}

.call-to-action h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

.call-to-action p {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-left: 50px;
}

.call-to-action p strong {
    display: block;
    font-weight: 600;
}

.call-to-action a {
    float: right;
    display: inline-block;
    padding: 15px 35px;
    background: #fff;
    border-radius: 35px;
    color: #00689d;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 3px;
}

.call-to-action a i {
    margin-left: 12px;
    font-weight: 600;
    font-size: 19px;
    margin-top: 0px;
    float: right;
}


.carousel-doencas .owl-prev, .carousel-doencas .owl-next {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 21px;
    margin-top: -10.5px;
}

.carousel-doencas .owl-prev {
    left: 0;
    background: url('../images/icons/arrow-left.png') no-repeat center;
    background-size: cover;
}

.carousel-doencas .owl-next {
    right: 0;
    background: url('../images/icons/arrow-right.png') no-repeat center;
    background-size: cover;
}

.header--logo {
    margin-top: -30px;
}

@media only screen and (max-width: 1170px){
    .header--logo {
        margin-top: -15px;
    }

    .header--open-search {
        margin-right: 30px;
    }
}